In [1]:
# get_data returns subset of aggregated data; Function is very generic and can be on any col
# by default return is sum but can be one of 'sum', 'mean', 'max', 'min', and 'n'

import pandas as pd
import pytae as pt
import seaborn as sns
penguins = sns.load_dataset('penguins')

In [2]:
penguins.get_data(value=['body_mass_g','bill_length_mm'],
                  species='Adelie',
                  default_cols=['island','sex']).head()

      sex species     island  body_mass_g  bill_length_mm
0  Female  Adelie     Biscoe      74125.0           821.9
1  Female  Adelie      Dream      90300.0           996.6
2  Female  Adelie  Torgersen      81500.0           901.3
3    Male  Adelie     Biscoe      89100.0           893.0
4    Male  Adelie      Dream     113275.0          1122.0

In [3]:
penguins.get_data(value='body_mass_g',sex=['Male'],
                  default_cols=['island','sex','species'],
                  aggfunc='sum')

    sex    species     island  body_mass_g
0  Male     Adelie     Biscoe      89100.0
1  Male     Adelie      Dream     113275.0
2  Male     Adelie  Torgersen      92800.0
3  Male  Chinstrap      Dream     133925.0
4  Male     Gentoo     Biscoe     334575.0

In [4]:
penguins.get_data(value=['body_mass_g'],
                  default_cols=['species'],
                  aggfunc='mean')

     species  body_mass_g
0     Adelie  3700.662252
1  Chinstrap  3733.088235
2     Gentoo  5076.016260

In [8]:
penguins.get_data(value=['body_mass_g'],
                  default_cols=['species'],
                  aggfunc='mean').wide(col='species',value='body_mass_g')

         index       Adelie    Chinstrap      Gentoo
0  body_mass_g  3700.662252  3733.088235  5076.01626